<h1><%=@product.name.upcase%></h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
      <tr>
        <td><%= @product.name %></td>
        <td><%= @product.price %></td>
        <td><%= @product.category %></td>
      </tr>
    
  </tbody>
</table>

<br>

<%= link_to('Back', :action=>'all_products') %>

</table>
